.DS_Store
datadump
Data/Bx_Rotated
Data/By_Rotated
Data/Bz_Rotated
Data/Rotated_Density_LOS
Data/Bx_2d_Center.sav
Data/By_2d_Center.sav
Data/Bz_2d_Center.sav
Data/Electron_Density_Center.sav
Data/Integrated_Parameters/*.csv
Data/Central_Parameters/*.csv
Data/Output
Data/Forward_Parameters/*.csv
Data/7.15300_183.443.sav
Data/7.15300_243.443.sav
Data/Forward_PB_data.csv
