[submodule "STEREO_Data_Processing"]
	path = /Users/crura/Desktop/Research/github/Test_Suite/Image-Coalignment/QRaFT
	url = https://github.com/crura/STEREO_Data_Processing
[submodule "QRaFT"]
	path = /Users/crura/Desktop/Research/github/Test_Suite/Image-Coalignment/STEREO_Data_Processing
	url = https://github.com/crura/QRaFT
